<div local-class="nav-container">

  <div local-class="nav-item">
    {{#link-to "application" local-class="nav-text"}}Home{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "news" local-class="nav-text"}}News{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "players" local-class="nav-text"}}Players{{/link-to}}
  </div>
  <div local-class="nav-item">
    {{#link-to "scores" local-class="nav-text"}}Scores{{/link-to}}
  </div>
  <div local-class="nav-clan-name">
    {{#link-to "application" local-class="nav-text"}}$aN¡tY{{/link-to}}
  </div>
</div>
