<div local-class="table">
  {{#light-table playerTable as |t|}}
    {{t.head}}

    {{#t.body
      canExpand = true
      multiRowExpansion = true
      autoHideScrollbar = true as |body|  }}
      {{#body.expanded-row as |row|}}
        "ROUNDS"
      {{/body.expanded-row}}

      {{#if isLoading}}
        loading
      {{/if}}

      {{#if table.isEmpty}}
        {{#body.no-data}}
          error loading data
        {{/body.no-data}}
      {{/if}}
    {{/t.body}}
  {{/light-table}}
</div>
