.score-container {
  border: 2px solid rgba(109, 109, 109, 0.5);
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  min-width: 1000px;
  background-color: #424242;

  display: flex;
  flex-direction: column;
}

.title {
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-size: 2em;
  background-color: #677d7d;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.team {
  flex: 1 1 0;

  display: flex;
  align-items: baseline;
  overflow: hidden;
}
.teamA {
  color: #63a4ff;
  text-align: right;
}
.teamB {
  color: #ff6659;
}
.name {
  letter-spacing: 0.1em;
  flex: 1 1 0;
  /*font-size: 2em;*/
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}
.score {
  font-size: 0.9em;
  margin: 0 1em;

  flex: 0 0 auto;
}
.vs {
  padding-top: 1em;
  font-size: 0.5em;
  color: white;
}

.details {
  font-size: 0.9em;
  text-align: center;
  color: white;
  margin: 0.2em 1.1em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.date {
  flex: 1 1 0;

  display: flex;
}
.rounds {
}
.type {
  text-align: right;
  flex: 1 1 0;
}

.player-table {
  margin: 0 1em 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.table-control-panel {
  text-align: center;
  width: 3em;
}
