.score-container {
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow: hidden;
  min-width: 200px;
  background-color: #e0e0e0;
}

.title {
  text-align: center;
  padding: .2em .4em .2em .4em;
  font-size: 2em;
  background-color: #677d7d;
}
.teamA{
  color: #63a4ff;
}
.teamB{
  color: #ff6659;
}
.score {
  font-size: .7em;
}
.vs {
  font-size: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
  color: white;
}

.details {
  text-align: center;
  font-size: .9em;
}

.player-table {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
